/* font-family: "Great Vibes", cursive; */
/* font-family: "Playwrite CO", cursive; */

header h1{
    font-family: "Great Vibes";
}

#themes span{
    cursor: pointer;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgb(34, 0, 0);

    & nav {
        padding: 20px 0;
    }

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        & li{
            padding: 0 20px;
            & a{
                text-decoration: none;
                color: inherit;
            }
        }
    }

}

#menu{
    display: none;
}

@media screen and (max-width: 555px) {
    #menu{
        display: flex;
        gap: 5px;
        background: none;
        border: none;
        cursor: pointer;
    }

    #span-menu{
        border-top: 2px solid;
        width: 20px;
        transition: .1s;
    }

    #btn-mobile.active #span-menu{
        border-top: transparent;
    }

    #span-menu::after, #span-menu::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        position: relative;
        transition: .3s;
    }

    #btn-mobile.active #span-menu::after{
        transform: rotate(135deg);
        top: -7px;
    }

    #btn-mobile.active #span-menu::before{
        transform: rotate(-135deg);
    }



    header nav{
        display: none;
        transition: 1s;
    }

    #themes{
        display: none;
    }

    #links{
        visibility: hidden;
        overflow-y: hidden;
        transition: 1s;
    }

    .link-container{
        width: 100vw;
        position: absolute;
        top: 70px;
        display: block;
        background: white;
        transition: 1s;
        overflow: auto;
    }

    .link-container ul#links{
        visibility: visible;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 1s;
    }

}

main{
    width: 100%;
    margin: auto;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
    padding: 30px;
}

main h1{
    border-bottom: 1px solid;
    display: inline-block;
    margin-bottom: 20px;
}

main p{
    margin-bottom: 20px;
}

h1#bv-dia{
    border: none;
    background-color: #d1efd1;
    color: #003500;
    padding: 5px;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-itens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

section#imc p{
    font-size: 14px;
    line-height: 1.2;
}



.resposta{
    display: none;
    background-color: #00f9003b;
    margin: 10px 0;
    padding: 5px;
}

#lampada{
    font-size: 40px;
    rotate: 180deg;
    background-color: black;
    color: rgba(255, 255, 255, 0.226);
    padding: 50px;
}

.ligardesligar{
    filter: brightness(250%);
    background: radial-gradient(black, #ffff0085 300%);
    color: rgba(yellow, yellow, yellow, 1);
    text-shadow: 0 0 20px yellow;
}

#num_none{
    display: none;
}