/* font-family: "Great Vibes", cursive; */
/* font-family: "Playwrite CO", cursive; */

header h1{
    font-family: "Great Vibes";
}

#themes span{
    cursor: pointer;
    padding: 5px;
    border: 1px solid;
    border-radius: 50%;
}

header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid rgb(34, 0, 0);

    & nav {
        padding: 20px 0;
    }

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        list-style: none;

        & li{
            padding: 0 20px;
            & a{
                text-decoration: none;
                color: inherit;
            }
        }
    }

}

main{
    width: 100%;
    margin: auto;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-right: 1px solid rgba(255, 255, 255, .3);
    padding: 30px;
}

main h1{
    border-bottom: 1px solid;
    display: inline-block;
    margin-bottom: 20px;
}

main p{
    margin-bottom: 20px;
}

h1#bv-dia{
    border: none;
    background-color: #d1efd1;
    color: #003500;
    padding: 5px;
}

.input-container{
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-itens{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
}

section#imc p{
    font-size: 14px;
    line-height: 1.2;
}

.resposta{
    display: none;
    background-color: #00f9003b;
    margin: 10px 0;
    padding: 5px;
}
